extends layout

block content
	h1 Incredible shackspace api
	:marked
		## [/v1/space](/v1/space) - what's up with the space?
		## [/v1/plena/next](/v1/plena/next) - when's the next plenum?
		### [/v1/plena/next?redirect](/v1/plena/next?redirect) - get redirected directly to the newest wiki page
		## [/v1/spaceapi](/v1/spaceapi) - Space API format for shackspace
